 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header{
    padding: 10 0 !important;
}
.menu ul li a {
    font-size: 20px;
    padding: 0 0 !important;
    text-align: right;
}
/*header end*/
/*slider start*/
.slider {
    padding-bottom: 60px;
}
.slider_content {
    margin-top: 10px;
}
.slider_content h1{
    font-size: 25px !important;
}
.slider_content h2{
    font-size: 18px !important;
    margin: 10px 0;
}
.slider_content p{
   margin-bottom: 10px;
}
.icon{
    font-size: 35px;
}
.slider_icon li{
  margin-right: 10px !important;
}
.cid{
  bottom: -50px;
}
.cid li{
  width: 13px;
  height: 13px;
}
/*slider end*/

/*features start*/
.features{
  padding-top: 50px;
  padding-bottom: 70px;
}
.t_h1{
  font-size: 25px;
}
.t_p{
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: 0px;
}
.m_t_60{
    margin-top: 20px;
}
.f_icon{
    font-size: 40px;
}
.f_text{
    margin-top: 0px;
    text-align: center;
}
/*features end*/
/*contact start*/
.contact{
    padding-top: 50px;
    padding-bottom: 70px;
}
.contact_form {
    margin-top: 20px;
    margin-bottom: 30px;
}
.c_input{
    height: 40px;
    margin-bottom: 10px;
}
.btn_contact{
    height: 40px;
}
.social ul li a{
  font-size: 25px;
  padding: 0 7px;
  border-radius: 5px;
  margin-right: 0px;
}
/*contact end*/
/*footer start*/
footer{
    padding-bottom: 70px;
}
.info{
    text-align: center;
}
.c_footer{
    margin-top: 20px;
    text-align: center;
}
/*footer end*/
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.menu ul li a {
    padding: 0 0 !important;
    text-align: right;
}
/*header end*/
/*slider start*/
.slider {
    padding-bottom: 80px;
}
.slider_content {
    margin-top: 10px;
}
.cid{
  bottom: -60px;
}
.cid li{
  width: 13px;
  height: 13px;
}
/*slider end*/

/*features start*/
.features{
  padding-top: 50px;
  padding-bottom: 70px;
}
.t_h1{
  font-size: 25px;
}
.t_p{
  font-size: 18px;
  letter-spacing: 0px;
  word-spacing: 0px;
}
.m_t_60{
    margin-top: 20px;
}
.f_text{
    text-align: center;
}
/*features end*/
/*contact start*/
.contact{
    padding-top: 50px;
    padding-bottom: 70px;
}
/*contact end*/
/*footer start*/
.info{
    text-align: center;
}
.c_footer{
    margin-top: 20px;
    text-align: center;
}
/*footer end*/
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a {
    padding: 0 0 !important;
    text-align: right;
}
/*header end*/
/*slider start*/
.slider_content {
    margin-top: 20px;
}
.slider_content h1{
    font-size: 30px !important;
}
/*slider end*/
/*fearures start*/
.m_t_60{
    margin-top: 40px;
}
/*fearures end*/
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	

}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}